@media (max-width: 425px) {
    #product-image{
        background-image: url(./assets/image-product-mobile.jpg);
        width: auto;
        background-position: center;
        height: 30vh;
        border-radius: 10px 10px 0 0;
    }

    #product-description{
        width: 100%;
        height: auto;
        border-radius: 0 0 10px 10px;
        padding: 24px 0;
    }

    #card-container{
        width: auto;
        height: auto;
        padding: 0 20px;
        display: block;
    }

}